# Ignore compiled Java classes
*.class

# Ignore temporary files
*.tmp
*.temp

# Ignore editor files
.vscode/
.idea/

# Ignore VS Code extensions and local tool caches
.puku/
.vscode/extensions/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore Java workspace files
*.swp

# Ignore build folders
bin/
out/
